html,
body {
  color: $white;
  background-color: $bg-primary;
  font-size: $base-font-size;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
}

h1 {
  @include font-size($h1-font-sizes);
}

h2 {
  @include font-size($h2-font-sizes);
}

h3 {
  @include font-size($h3-font-sizes);
}

h4 {
  @include font-size($h4-font-sizes);
}

h5 {
  @include font-size($h5-font-sizes);
}

h6 {
  @include font-size($h6-font-sizes);
}

p,
ul,
ol {
  @include font-size($p-font-sizes);
  font-family: Merriweather, serif;
}

a {
  text-decoration: none;
  color: $link;
  &:hover {
    color: red;
  }
  &:visited {
    color: $link;
  }
}
