/*=============================================
// Colors
=============================================*/
$bg-red: #561414;
$fg-red: #c73030;
$bg-primary: #282c34;
$white: white;

$brand-100: #f6fef4;
$brand-200: #e2fbdb;
$brand-300: #c4f7b7;
$brand-400: #a7f394;
$brand-500: #89ef70;
$brand-600: #6deb4d;
$brand-700: #55e830;
$brand-800: #41e019;
$brand-900: #39c416;
$brand-1000: #31a813;
$brand-1100: #288c10;

$text-highlight: #8a98b4;

$link: #5d7cbb;
$link-hover: #789eeb;

/*=====  End of Section comment block  ======*/

/*=============================================
// Typography 
// href="https://fonts.googleapis.com/css?family=Oswald:700|Merriweather:400|Montserrat:600|Lora:400"
=============================================*/

$base-font-size: 16px;
$base-font-color: $white;
$base-font-family: Montserrat, arial;
$base-font-weight: 100;
$secondary-font-family: Merriweather, serif;

$breakpoints: (
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px
);

$h1-font-sizes: (
  null: (
    6rem,
    1 /* line height */
  ),
  sm: 6rem /* sm */,
  md: 6rem /* md */,
  lg: 6rem /* lg */,
  xl: 6rem /* xl */
);

$h2-font-sizes: (
  null: (
    5rem,
    1
  ),
  sm: 5rem /* sm */,
  md: 5rem /* md */,
  lg: 5rem /* lg */,
  xl: 5rem /* xl */
);

$h3-font-sizes: (
  null: (
    4rem,
    1
  ),
  sm: 4rem /* sm */,
  md: 4rem /* md */,
  lg: 4rem /* lg */,
  xl: 4rem /* xl */
);

$h4-font-sizes: (
  null: (
    3rem,
    1
  ),
  sm: 3rem /* sm */,
  md: 3rem /* md */,
  lg: 3rem /* lg */,
  xl: 3rem /* xl */
);

$h5-font-sizes: (
  null: (
    2.5rem,
    1
  ),
  sm: 2.5rem /* sm */,
  md: 2.5rem /* md */,
  lg: 2.5rem /* lg */,
  xl: 2.5rem /* xl */
);

$h6-font-sizes: (
  null: (
    2rem,
    1
  ),
  sm: 2rem /* sm */,
  md: 2rem /* md */,
  lg: 2rem /* lg */,
  xl: 2rem /* xl */
);

$p-font-sizes: (
  null: (
    $base-font-size,
    1.3
  ),
  sm: (
    1rem
  ),
  md: (
    1rem
  ),
  lg: (
    1rem
  ),
  xl: 1rem
);

/*=====  End of Section comment block  ======*/

/*=============================================
// Theme variables 
=============================================*/

/* $link-primary: $orange;
$link-secondary: $blue;
$link-tertiary: $grey;

$radius-button: 5px;
$radius-tab: 5px;
*/

/*=====  End of Section comment block  ======*/
