#container {
  position: relative;
}

.section__placeholder {
  position: relative;
  height: 1000px;
  width: 100%;
}

#scrollToTop {
  bottom: 0px;
  display: none;
  opacity: 40%;
  position: fixed;
  right: 0px;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  &:hover {
    cursor: pointer;
    opacity: 100%;
  }
}

.scrollToTop__icon {
  height: 50px;
  margin: 20px;
  width: 50px;
}

.nav {
  background-color: $bg-red;
  border-bottom: 1px solid $white;
  display: -webkit-box;
  height: 80px;
  padding: 20px;
  position: fixed;
  width: 100vw;
  z-index: 20;
}

.main__menu {
  align-items: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  display: -webkit-box;
  display: flex;
  justify-content: center;
  width: 100%;
}

.main__menu__item {
  position: relative;
}

.main__menu__item:nth-child(3) {
  margin-top: 2px;
}

.main__menu__item--hover:nth-child(3) {
  &:hover:after {
    background-color: $white;
    bottom: -7px;
    content: "";
    height: 4px;
    left: 3px;
    position: absolute;
    width: 30px;
  }
}

.main__menu__item--hover {
  cursor: pointer;
  &:hover:after {
    background-color: $white;
    bottom: -10px;
    content: "";
    height: 4px;
    left: 0;
    position: absolute;
    width: 30px;
  }
}

.main__menu__item--padding {
  padding-right: 10px;
}

.main__menu__item--padding:first-child {
  padding-right: 15px;
}

.main__menu__item--padding:last-child {
  border: 2px solid $white;
  border-radius: 50%;
  height: 25px;
  width: 17px;
  p {
    font-size: 1rem;
    padding-left: 4px;
    padding-top: 3px;
  }
}

.resume {
  color: $brand-1100;
  margin: 11px;
  p {
    line-height: 0;
  }
}

.masthead {
  margin-top: 90px;
  position: relative;
  h2 {
    color: $brand-900;
    font-size: 2rem;
  }
  h4 {
    font-size: 1.4rem;
  }
  h2,
  h4 {
    @include uppercase;
  }
  p:first-child {
    font-size: 0.5rem;
    margin-top: 40px;
  }
  p:nth-child(2),
  p:nth-child(3) {
    font-size: 0.7rem;
  }
  img {
    height: 200px;
    position: relative;
    width: 200px;
    z-index: 40;
  }
}

.masthead__text--hightlight {
  color: $text-highlight;
}

.masthead__rider {
  background: $bg-primary;
  bottom: 80px;
  color: $fg-red;
  left: 49px;
  position: absolute;
  h5 {
    font-size: 1.4rem;
  }
}

h2 {
  color: $brand-100;
}

.project {
  align-items: center;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-box-pack: start;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 50px;
  position: relative;
  width: 80vw;
}

.project__image {
  background: center/cover no-repeat url("../../images/utterzone.png");
  height: 0;
  margin: 20px;
  min-width: 300px;
  padding-bottom: 49%;
  width: 100%;
}

.project__description {
  margin: 0 auto;
  width: 80vw;
}

.project__title {
  font-size: 1.5rem;
  margin-bottom: 6px;
  margin-top: 30px;
  @include uppercase;
}

.project__copy {
  text-align: justify;
}

.footer {
  height: 400px;
  width: 100%;
}

/*=============================================
// Media Queries
=============================================*/
@media (min-width: 1200px) {
  .project {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    flex-direction: row;
  }

  .project__description {
    left: 0;
    position: absolute;
    text-align: left;
    top: 80px;
    width: 400px;
    p {
      font-size: 1.5vw;
      line-height: 2.5rem;
      text-align: left;
      text-shadow: $bg-primary 5px 5px 5px;
      width: 500px;
    }
  }
  .project__image {
    height: 0;
    padding-bottom: 39%;
    position: absolute;
    right: 0px;
    top: 10px;
    width: 70%;
  }
}

@media (min-width: 350px) {
  .masthead__rider {
    background: $bg-primary;
    bottom: 161px;
    color: $fg-red;
    left: -15px;
    position: absolute;
  }

  .masthead {
    h2 {
      font-size: 4rem;
    }
    h4 {
      font-size: 2.4rem;
    }
    img {
      height: 400px;
      width: 400px;
    }
  }
}

@media (min-width: 640px) {
  .masthead {
    margin-top: 0;
  }

  .main__menu {
    align-items: center;
    -webkit-box-align: center;
    -webkit-box-pack: end;
    display: -webkit-box;
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
}
