.pin {
  background-color: $brand-1000;
  height: 4px;
  margin: 36px auto;
  width: 3rem;
}

.pin__right--vert {
  height: 20px;
  width: 2px;
  margin: 0 20px;
}

.pin__left--vert {
  height: 20px;
  width: 2px;
  margin: 0 20px;
}

@media (min-width: 1200px) {
  .pin__right--vert {
    height: 20px;
    width: 2px;
    margin: 0 20px;
  }

  .pin__left--vert {
    height: 20px;
    width: 2px;
    margin: 0 20px;
  }
}
